# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyd

# Jupyter
.ipynb_checkpoints/

# Datos
data/*
!data/README.md

# Resultados de entrenamiento
runs/
outputs/
models/
weights/

# Pesos y modelos exportados
*.pt
*.pth
*.onnx
*.engine
*.tflite

# Logs y temporales
*.log
*.tmp

# Variables de entorno
.env

# Editores
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
